.picture1 {
    position: relative;
    background: url(https://picsum.photos/id/14/2000/1000) no-repeat;

    font-size: 60px;
    text-align: end;
}

.picture2 {
    position: relative;
    background: url(https://picsum.photos/id/302/2000/1000) no-repeat;
    font-size: 50px;
    text-align: center;
    color: #797982;
}

.picture3 {
    position: relative;
    background: url(https://picsum.photos/id/10/2000/1000) no-repeat;
    font-size: 50px;
    text-align: center;
    color: #797982;
}

.btn_bar {
    position: relative;
    left: 100px;

}

.art_con,
.web_con,
.school {
    height: 70vh;
    margin-top: 200px;
}




@media only screen and (max-width:760px) {
    .picture1 {
        position: relative;
        background: url(https://picsum.photos/id/14/2000/1000) no-repeat;

        font-size: 28px;
        text-align: end;


    }

    .picture2 {
        position: relative;
        background: url(https://picsum.photos/id/302/2000/1000) no-repeat;
        font-size: 30px;
        text-align: end;
        color: #797982;

    }


    .picture3 {
        position: relative;
        background: url(https://picsum.photos/id/10/2000/1000) no-repeat;

        font-size: 40px;
        text-align: center;

    }


    .schedule {

        width: 100vw;

    }


    .net_container,
    .art_container {

        margin-left: -28px;
    }

    .art_con,
    .web_con
    {
    height: 32vh;
    /* margin-top: -100px; */
}

.school {
    height: 20vh;
    margin-top: -20px;
}
.btn{
    margin-bottom: 10px;
}
}